@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');


body {
	margin: 0;
	font-family: 'roboto', sans-serif;
}

.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

.sidebar a.active {
	background-color: #04aa6d;
	color: white;
}

.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
}

main.content {
	margin-left: 200px;
	padding: 1px 16px;

}
main h1 {
    text-align: center;
    background-color: blue;
	color: #fff;
}
main section {
    margin: 2px;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.8);
    padding: 5%;
}
.site_map img {
	width: 100%;
}
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}
