@media only screen and (min-width: 56em) {
    :root {
        --primary-color: #000;
        --secondary-color: #111;
        --bg-color-white: #fff;
        --bg-color-gray: #3a3d40;
        --bg-color-gray-white: #f1f1f3;
        --bg-color-orange: #f4511e;
        --bg-color-palegreen: #4caf50;
        --font-color1: #fff;
        --font-color-paleorange: #eba51b;
        --header-color: #3e3e3e;
        --nav-hover-color: rgba(0, 0, 0, 30%);
    }
    
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
    }
    
	nav ul {
		max-width: 960px;
        
	}
	nav ul li a {
        font-size: 1rem;
        
    }

    main{
        
        max-width: 960px;
        
    }
    h2{
        text-align: center;
        font-size: 1.75rem;
    }
    .wsummary section h4{
        font-size: 1.4rem;
        margin: 0;
        padding-bottom: 0.5rem; 
        color: #444;
    }
    .wsummary section p{
        font-size: 1.1rem;
        margin: 0;
    } 
    .wsummary section{
        
        line-height: 130%;
    
    }
    .wsummary{
        
        top: 25px;
        left: 25px;      
        
    }
 
    .article section p{
        
        font-size: 1.1rem;
        
    }



    .contact{
        max-width: 850px;
        margin: 0 auto;
        padding: 20px 20px;
        display: grid;
        grid-template-columns: 65% 35%;
        text-align: left;
    }
    .map{
        
        padding: 12px 0px 12px 30px;
        max-width: 350px;
        
    }
    .contact-information{
        padding: 10px 0px;
        grid-row: 1/2;
        grid-column: 2 / 3;
     }
     .contact-information p:first-child{
        font-size: 1.2rem;
        
     }
     .contact-information p{
        font-size: .9rem;
     }
     .sat-banner p{
        font-size: 1.05rem; 
    }       
}