@media only screen and (min-width: 35em) {
	main {
		padding-left: 15px;
		padding-right: 15px;
		max-width: 90%;
		margin: 0 auto;
	}

	.weather-summery {
		position: absolute;
		top: 20px;
		left: 10px;
		background-color: coral;
		box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
		max-width: 40%;
	}
	.week-forecast-heading {
		display: block;
		font-size: 1rem;
		padding: 0.5rem;
	}
	.week-forecast {
		display: flex;
		flex-direction: row;
		margin: 1rem 0;
	}
	.week-forecast section {
		text-align: center;
		box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.8);
		margin-right: 0.2rem;
	}

	.week-forecast i {
		font-size: 1rem;
	}


	/*  Forecast from API  */
		
		.forecast {
			display: flex;
			margin: 0 auto;
			justify-content: center;
			flex-direction: row;

		}
		.forecast section {
			border: 1px solid var(--bg-green-Complimentory);
			margin: 2px;
			min-width: 50%;
			background-color: var(--bg-color-palegreen);
		}

		
		.forecast section p {
			font-size: .6rem;
			text-align: center;
		}
		.forecast h5 {
			color:rgb(0, 0, 0);
			background-color: var(--bg-green-Complimentory);
			padding: .4rem;
			margin: 2px;
			text-align: center;
		}

	/* article  */
	.article section img {
		float: right;
		max-width: 55%;
		margin-top: 5px;
		margin-bottom: 15px;
	}
	.article section h4 {
		font-size: 1.3rem;
		margin: 0px 0px 10px 0px;
	}
	.article section p {
		font-size: 1.05rem;
	}
	
	/* &&&&&&&&&& index page styles &&&&&&&&&&&&&&& */

	.cities-container{
        margin: -10px 0 -25px 0;
        display: grid;
	    grid-template-columns: 1fr;  
        grid-gap: 0.5rem;      
    }
    .cities-container section:first-child{
        grid-row: 2;
    }
    .cities-container section:last-child{
        grid-row: 1;
    }
    .cities-container section{
        border: 1px solid var(--bg-green-Complimentory);
        display: grid;
	    grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
        margin: 0;
        padding: 10px;
    }
    .cities-container section:nth-child(1) div{
        grid-column: 2;
        grid-row: 1;
    }
    .home-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cities-container section h3{
        color: #444;
        font-size: 1.3rem;
    }
    .cities-container section p:nth-child(2){
        font-size: 0.9rem;
        margin: 0 0 10px 0; 
        color:var(--bg-green-Complimentory);
          
    }
    .cities-container section p:nth-child(3), p:nth-child(4), p:nth-child(5){
        font-size: 1rem;
        margin: 3px 0;
    }
    .cities-container section img{
        max-width: 100%;
        box-shadow: 0px 0px 3px 1px #444;
        margin: 0;
    }
    .home-hr{
        display: none;
    }

	/* footer styles  */
	.contact-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: .5rem;
	}
	.contact-information {
		width: 70%;
		padding: 2rem;
		line-height: 1.5;
		margin: 0 auto;
	} 

	.map-section img {
		display: block;
		width: 90%;
	}
	.social-media {
		margin-top: 1rem;
	}
	
	.social-media > a {
		display: inline-block;
		background-color: var(--bg-color-white);
		width: 1.8rem;
		padding: 0.4rem;
		border-radius: 5px;
		cursor: pointer;
	}
	
	
}